/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
header {
    color: red;
    /* display: inline; */

}
p {
    color: orange;
}

.open {
    display: flex;
}
.main_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

}

.caption {
    text-align: center;
    color: black;
    display: ;
}